<div class="container">
  <h3>Book List</h3>
  <button *ngIf="!isLoading">
    <a routerLink="add">Add New Book</a>
  </button>
  <p *ngIf="isLoading" style="text-align: center">Loading book list...</p>
  <table class="table" *ngIf="!isLoading">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Publish Date</th>
      <th>Pages</th>
      <th>Genre</th>
      <th>Synopsis</th>
      <th>Rating</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publishDate | date:'dd/MM/yyyy' }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ bookGenre[book.genre] }}</td>
      <td>{{ book.synopsis }}</td>
      <td>{{ book.rating }}</td>
      <td>
        <button>
          <a routerLink="{{book.id}}/edit">Edit Book</a>
        </button>
      </td>
      <td>
        <button class="btn-danger">
          <a (click)="deleteBook(book)">Delete Book</a>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
