.container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: -3px -8px 10px -8px;
  padding: 0 8px 5px 8px;
  border-bottom: 2px solid #818285;
}

.left {
  display: flex;
  align-items: center;
}

h3 {
  margin: 5px;
}

.navbar-nav {
  flex-direction: row;
  margin-left: 20px;
}

.nav-item {
  margin: 5px 10px 5px 10px;
  font-size: 20px;
}

.nav-item:hover {
  color: #258cfb;
}

a.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #258cfb;
}
