.container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: -3px -8px 10px -8px;
  padding: 0 8px 5px 8px;
  border-bottom: 2px solid #818285;
}

.left {
  display: flex;
  align-items: center;
}

.left * {
  margin-right: 25px;
}

.logo {
  height: 65px;
}
